fastapi==0.116.1
uvicorn[standard]==0.35.0
pydantic==2.11.7
python-dotenv
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
python-multipart
google-api-python-client
google-auth
paho-mqtt==1.6.1
httpx